.orderSummary {
    margin: 2% 2%;
}

.orderSummary h4 {
    font-weight: bold;
    font-family: arial, sans-serif;
}

.ion-no-margin {
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}

.address-text {
    font-weight: bold;
    font-family: arial;
    font-size: 16px;
    color: #000000;
    margin-left: 5%;
}

.ion-padding {
    margin-left: 10%;
}