ion-content ion-item ion-labell {
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 800px;
}

.alertButton {
    background-color: white !important;
}

.ion-labell p {
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}

ion-content ion-item ion-label h2 {
    font-weight: bold;
    color: black;
    font-family: arial;
}

.subtoolbarsearch {
    width: 41%;
    float: right;
    margin-right: 50px;
    font-family: arial;
}

ion-searchbar {
    background-color: whitesmoke;
}